@use '../mixins';
@use '../media';

.blog {
  min-height: 447px;
  margin-bottom: 100px;

  @include media.desktop {
    margin-bottom: 70px;
  }

  @include media.tablet {
    margin-bottom: 50px;
  }

  &__content {
    width: 100%;
    height: 19%;
    text-align: center;
  }

  &__title {
    @include mixins.fluid-text(30, 20);
    font-weight: 700;
    margin-bottom: 13px;
  }

  &__desc {
    font-size: 14px;
    color: var(--color-grey);
    margin-bottom: 35px;
  }

  &__posts {
    width: 100%;
    height: 81%;
    @include mixins.flex-base;
  }
}