@use '../mixins';
@use '../media';

.post {
  width: 22%;
  height: 100%;

  &__img {
    height: 53%;
  }

  &__body {
    height: 47%;
    padding: 8px 13px 12px;
    background-color: var(--color-light);
    @include mixins.flex-base(column);
    align-items: flex-start;
    row-gap: 10px;
  }

  &__info {
    font-weight: 500;
    font-size: 14px;
    @include mixins.fluid-text(14, 12);
    color: var(--color-accent);
  }

  &__title {
    @include mixins.fluid-text(20, 18);
    font-weight: 700;
    line-height: 130%;
  }

  &__desc {
    @include mixins.fluid-text(14, 12);
    line-height: 157%;
    color: var(--color-grey);
  }

  &__link {
    @include mixins.flex-base;
    gap: 7px;

    &::after {
      content: "";
      background-image: url("/src/assets/icons/arrow-right-post-black.svg");
      width: clamp(10px, 1.1vw, 16px);
      aspect-ratio: 1;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    @include media.hover {
      &:hover::after {
        background-image: url("/src/assets/icons/arrow-right-post-green.svg");
      }
    }
  }
}