:root {
  --color-bg: #fff;
  --color-dark: #3d3d3d;
  --color-accent: #46a358;
  --color-accent-rgb: 70, 163, 88;
  --color-accent-dark: #37914b;
  --color-grey: #727272;
  --color-light: #fbfbfb;
  --color-grey-alt: #c4c4c4;
  --color-light-alt: #e5e5e5;

  --font-family: "Montserrat", sans-serif;
}